# Sets

### 1. [arn]:
    1. Return a match where one of the spicified character (a, r, or n) are present
    2. Example

In [1]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022"

x = re.findall("[arn]", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['a', 'a', 'n', 'a', 'n', 'a', 'a', 'n']
Yes, atleast one match are available in the string

In [3]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022"

x = re.findall("[pqrPQR]", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['P']
Yes, atleast one match are available in the string

### 2. [a-m]:
    1. Return a match for any lower case character alphabitacally between a and m
    2. Example

In [5]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022"

x = re.findall("[a-z]", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['e', 'l', 'c', 'o', 'm', 'e', 't', 'o', 'a', 't', 'a', 'c', 'i', 'e', 'n', 'c', 'e', 'l', 'a', 'c', 'e', 'm', 'e', 'n', 't', 'a', 't', 'c', 'h', 'o', 'f', 'a', 'n']
Yes, atleast one match are available in the string

In [6]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022"

x = re.findall("[a-zA-Z]", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['W', 'e', 'l', 'c', 'o', 'm', 'e', 't', 'o', 'D', 'a', 't', 'a', 'S', 'c', 'i', 'e', 'n', 'c', 'e', 'P', 'l', 'a', 'c', 'e', 'm', 'e', 'n', 't', 'B', 'a', 't', 'c', 'h', 'o', 'f', 'J', 'a', 'n']
Yes, atleast one match are available in the string

### 3. [^arn]:
    1. Return a match any character Except a, r and n
    2. Exmple

In [7]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022"

x = re.findall("[^arn]", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['W', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'D', 't', ' ', 'S', 'c', 'i', 'e', 'c', 'e', ' ', 'P', 'l', 'c', 'e', 'm', 'e', 't', ' ', 'B', 't', 'c', 'h', ' ', 'o', 'f', ' ', 'J', ' ', '2', '0', '2', '2']
Yes, atleast one match are available in the string

In [8]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022"

x = re.findall("[^pqr]", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['W', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'P', 'l', 'a', 'c', 'e', 'm', 'e', 'n', 't', ' ', 'B', 'a', 't', 'c', 'h', ' ', 'o', 'f', ' ', 'J', 'a', 'n', ' ', '2', '0', '2', '2']
Yes, atleast one match are available in the string

### 4. [0123]:
    1. Return a match where any of specified dights (0,1,2,3) are present
    2. Example

In [10]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022, my contact no are 9923090436"

x = re.findall("[0123]", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['2', '0', '2', '2', '2', '3', '0', '0', '3']
Yes, atleast one match are available in the string

In [11]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022, my contact no are 9923090436"

x = re.findall("[^0123]", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['W', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'P', 'l', 'a', 'c', 'e', 'm', 'e', 'n', 't', ' ', 'B', 'a', 't', 'c', 'h', ' ', 'o', 'f', ' ', 'J', 'a', 'n', ' ', ',', ' ', 'm', 'y', ' ', 'c', 'o', 'n', 't', 'a', 'c', 't', ' ', 'n', 'o', ' ', 'a', 'r', 'e', ' ', '9', '9', '9', '4', '6']
Yes, atleast one match are available in the string

In [12]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022, my contact no are 9923090436"

x = re.findall("[96]", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['9', '9', '9', '6']
Yes, atleast one match are available in the string

### 5. [0-9]

In [14]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022, my contact no are 9923090436"

x = re.findall("[0-7]", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['2', '0', '2', '2', '2', '3', '0', '0', '4', '3', '6']
Yes, atleast one match are available in the string

### 6. [0-5][0-9]

In [21]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022, my contact no are 9923090436, 09:45"

x = re.findall("[0-5][0-9]", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['20', '22', '23', '09', '04', '36', '09', '45']
Yes, atleast one match are available in the string

In [26]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022, my contact no are 9923090436, 09:45"

x = re.findall("[A-Za-z]{7}", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['Welcome', 'Science', 'Placeme', 'contact']
Yes, atleast one match are available in the string

In [28]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022, my contact no are 9923090436, 09:45"

x = re.findall("[0-9]{10}", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['9923090436']
Yes, atleast one match are available in the string

In [32]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022, my contact no are 9923090436, 09:45"

x = re.findall("\d{5}", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['99230', '90436']
Yes, atleast one match are available in the string

# Functions:
    1. Findall
    2. Search
    3. Split
    4. Sub

### 1. Findall():
    1. The finall() function returns a list of containing all matches

In [33]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022, my contact no are 9923090436, 09:45"

x = re.findall("data", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

[]
No match

In [34]:
import re

my_text = "Welcome to Data Science Placement Batch of Jan 2022, my contact no are 9923090436, 09:45"

x = re.findall("Data", my_text)

print(x)

if x:
    print("Yes, atleast one match are available in the string")
else:
    print("No match")

['Data']
Yes, atleast one match are available in the string

### 2. Search ()

In [37]:
my_text = "Welcome to Data Science Placement Batch of Jan 2022, my contact no are 9923090436, 09:45"

x = re.search("\d{10}", my_text)
print(x)

<re.Match object; span=(71, 81), match='9923090436'>

### 3. split ()

In [41]:
my_text = "Welcome to, DataScience Placement Batch of Jan 2022, my contact no are 9923090436, 09:45"

x = re.split(",",my_text)
print(x)

['Welcome to', ' DataScience Placement Batch of Jan 2022', ' my contact no are 9923090436', ' 09:45']

In [42]:
my_text = "Welcome to, DataScience Placement Batch of Jan 2022, my contact no are 9923090436, 09:45"

x = re.split("\s",my_text)
print(x)

['Welcome', 'to,', 'DataScience', 'Placement', 'Batch', 'of', 'Jan', '2022,', 'my', 'contact', 'no', 'are', '9923090436,', '09:45']

In [43]:
my_text = "Welcome to, DataScience Placement Batch of Jan 2022, my contact no are 9923090436, 09:45"

x = re.split("[0-9]",my_text)
print(x)

['Welcome to, DataScience Placement Batch of Jan ', '', '', '', ', my contact no are ', '', '', '', '', '', '', '', '', '', ', ', '', ':', '', '']

In [45]:
my_text = "Welcome to, DataScience Placement Batch of Jan 2022, my contact no are 9923090436, 09:45"

x = re.split("[0-9]{10}",my_text)
print(x)

['Welcome to, DataScience Placement Batch of Jan 2022, my contact no are ', ', 09:45']

### 4. sub ()

In [47]:
my_text = "Welcome to, DataScience Placement Batch of Jan 2022, my contact no are 9923090436, 09:45"

x = re.sub("a", "@",my_text)
print(x)

Welcome to, D@t@Science Pl@cement B@tch of J@n 2022, my cont@ct no @re 9923090436, 09:45

In [68]:
my_text = "My name is Shyam and my mobile no is +91 9923090436, and email 9021261221 id is shyamambilkar@gmail.com, rahul1@gmail.com"

x = re.findall("[a-z]{2,20}[@]{1}[a-z.]{2,15}", my_text)
y = re.findall("[0-9]{10}",my_text)
print(y)
print(x)

['9923090436', '9021261221']
['shyamambilkar@gmail.com']

In [60]:
email = """
1. shyam.ambilkar@gmail.com
2. shyamambilakar2@gmail.com
3. shyamambilkar@gmail.com
4. shyamambilkar1234@gmai.com
5. shyamambilakar2@rediffmail.com
6. shyamambilkar@jspm.edu.in
7. shyamambilkar@gmail.co.in
8. ._shyamambilkar@gmail.org
9. shyamambilkar124@gmail.org
10. shyam.ambilkar.1234@gmail.co.in
11. shyam.ambilkar.123@jspm.edu.in"""

x = re.findall("[a-z]{2,20}[@]{1}[a-z.]{2,15}", my_text)
print(x)

['shyamambilkar@gmail.com']