# Python Operators
1. There are different types of Operators are available in Python:
    1. Arithmatic Operators
    2. Assignment Operators
    3. Comparison Operators
    4. Logical operators
    5. Identity Operators
    6. Membership Operators
    7. Bitwise operators

## 2. Assignment Operaotors

1. [=]:
    1.Synatx [x = 12 ]
2. [+=]:
    1. Synatx [x += 12] simlilar as [x = x + 12]
3. [-=]:
    1. 1. Synatx [x -= 12] simlilar as [x = x - 12]
4. [*=]:
    1. Synatx [x *= 12] simlilar as [x = x * 12]
5. [/=]:
    1. 1. Synatx [x /= 12] simlilar as [x = x / 12]
6. [%=]:
    1. Synatx [x %= 12] simlilar as [x = x % 12]
7. [//=]:
    1. Synatx [x //= 12] simlilar as [x = x // 12]
8. [**=]:
    1. Synatx [x **= 12] simlilar as [x = x ** 12]
9. [&=]:
    1. Synatx [x &= 12] simlilar as [x = x & 12]
10. [|=]:
    1. Synatx [x |= 12] simlilar as [x = x | 12]
11. [^]:
    1. Synatx [x ^= 12] simlilar as [x = x ^ 12]
12. [>>=]:
    1. Synatx [x >>= 12] simlilar as [x = x >> 12]
13. [<<=]:
    1. Synatx [x <<= 12] simlilar as [x = x << 12]

In [2]:
x = 5
print(x)

5

In [3]:
x += 10
print(x)

15

In [4]:
x = x + 10
print(x)

25

In [5]:
y = 5
y = y + 10
print(y)

15

In [6]:
y = 25
y = y - 10
print(y)

15

In [7]:
y = 25
y -= 10
print(y)

15

In [8]:
x = 3
x **= 3
print(x)

27

In [9]:
x = 3
x = x ** 3
print(x)

27

## 3. Comparison Operators

1. equal [==]:
    1. Example: [x == y]
        
2. Not eqaul [!=]:
    1. Example: [x != y]
        
3. Greater than [>]:
    1. Example: [x > y]
        
4. Less than [<]:
    1. Example: [x < y]
        
5. Greater than or equal to [>=]:
    1. Example: [x >= y]

6. Less than or equal to [<=]:
    1. Example: [x <= y]

**1. Equal**

In [10]:
x = 10
y = 10

print(x == y)

True

In [11]:
x = 10
y = 20

print(x == y)

False

**2. Not equal [!=]**

In [15]:
x = 10
y = 20

print(x != y)

True

In [16]:
x = 10
y = 10

print(x != y)

False

**3. Greater than [ >]**

In [18]:
x = 15
y = 10

print(x > y)

True

In [19]:
x = 15
y = 25

print(x > y)

False

**4. Less than [<]**

In [21]:
x = 15
y = 100

print(x < y)

True

In [22]:
x = 15
y = 15

print(x < y)

False

In [25]:
x = 15
y = 10

print(x < y)

False

**5. Greater than or equal [>=]**

In [26]:
x = 15
y = 15

print(x >= y)

True

In [27]:
x = 45
y = 15

print(x >= y)

True

In [28]:
x = 5
y = 15

print(x >= y)

False

**6. Less than or equal [ <=]**

In [29]:
x = 15
y = 15

print(x <= y)

True

In [31]:
x = 5
y = 15

print(x <= y)

True

In [33]:
x = 16
y = 15

print(x <= y)

False

## 4. Logical Operators

1. Logical operator is a symbol or words used to connect two or more expression
2. value of the compound expression
3. common logical operators are:
    1. and 
    2. or 
    3. not 
4. to combine conditional statement

1. AND [and]:
    1. Return TRUE if both condition statement are TRUE
    2. Return False if any of the condition statement are False

2. OR [or]:
    1. Return TRUE if any of the condition statement are TRUE
    2. Return False if both condition statement are FALSE

3. NOT [not]:
    1. Reverse the result return FALSE if the result are TRUE

**1. AND [and]**

In [35]:
x = 10
y = 15

print(x < y and  y > x)

True

In [37]:
x = 10
y = 15

print(x < y and x > y)

False

**2. OR [or]**

In [39]:
x = 10
y = 15

print(x < y or x > y)

True

In [40]:
x = 15
y = 15

print(x > y or x < y)

False

In [41]:
x = 15
y = 15

print(x > y or x == y)

True

**3. NOT [not]**

In [42]:
x = 15
y = 15

print(not(x > y and x < y) )

True

In [45]:
x = 10
y = 15

print(not(x < y or x > y))

False

## 5. Identity Operators

1. Identity operator are used to compare the object with same memory location
2. There are two identity operators in python:
    1. IS [is]
    2. IS NOT [is not]

**1. IS OPERATOR [is]**

In [49]:
x = ['apple','mango','cherry','watermelon']
y = ['apple','mango','cherry','watermelon']
z = x

print(x is z)
print(x is y)
print(x == y)
print(x == z )

True
False
True
True

**2. IS NOT [is not]**

In [52]:
x = ['apple','mango','cherry','watermelon']
y = ['apple','mango','cherry','watermelon']
z = x

a = ['apple','mango','cherry']
print(x is not z)
print(x is not y)
print(x is not a)

False
True
True

## 6. Membership Operators

1. Membership operator are used to test if sequence is presented as object
2. There are two membership operators:
    1. IN [in]
    2. NOT IN [not in]

1. IN [in]:
    1. Return TRUE if sequnece with specific object value is presented in object
    
2. NOT IN [not in]:
    2. Returns TRUE if sequnce with specific value is not presented in object

**1. IN [in]**

In [53]:
x = ['apple','mango','cherry','watermelon']
print("banana" in x)

False

In [54]:
x = ['apple','mango','cherry','watermelon']

print('apple' in x)

True

In [55]:
x = ['apple','mango','cherry','watermelon']

print('watermelon' in x)

True

**2. NOT IN [not in]**

In [57]:
x = ['apple','mango','cherry','watermelon']
print("banana" not in x)

True

In [58]:
x = ['apple','mango','cherry','watermelon']
print("apple" not in x)

False

## 7. Bitwise Operators

1. AND [&]
2. OR [|]
3. XOR [^]
4. NOT [~]
5. ZERO FILL LEFT SHIFT [<<]
6. SIGNED RIGHT SHIFT [>>]