# Set Remove Elements

### Remove elements using Remove Method

In [1]:
my_set = {'apple','mango','cherry','pineapple','banana','kiwi'}

my_set.remove('banana')
print(my_set)

{'cherry', 'mango', 'kiwi', 'apple', 'pineapple'}

**Note: If the elements to remove does not exists remove() method will raise the error**

In [8]:
my_set = {'apple','mango','cherry','pineapple','banana','kiwi'}

my_set.remove('papaya')
print(my_set)

KeyError: 'papaya'

### Remove elements using Pop Method [last elements]

In [2]:
my_set = {'apple','mango','cherry','pineapple','banana','kiwi'}

my_set.pop()
print(my_set)

{'mango', 'kiwi', 'banana', 'apple', 'pineapple'}

In [4]:
my_set = {'apple','mango','cherry','pineapple','banana','kiwi'}

my_set.pop()
print(my_set)

{'mango', 'kiwi', 'banana', 'apple', 'pineapple'}

### Remove elements using Dicard Method

**Note: If the elements to remove does not exists discard() method will not raise the error**

In [5]:
my_set = {'apple','mango','cherry','pineapple','banana','kiwi'}

my_set.discard('banana')
print(my_set)

{'cherry', 'mango', 'kiwi', 'apple', 'pineapple'}

In [9]:
my_set = {'apple','mango','cherry','pineapple','banana','kiwi'}

my_set.discard('papaya')
print(my_set)

{'cherry', 'mango', 'kiwi', 'banana', 'apple', 'pineapple'}

### Clear Set

In [10]:
my_set = {'apple','mango','cherry','pineapple','banana','kiwi'}

my_set.clear()
print(my_set)

set()

### Delete Set

In [11]:
my_set = {'apple','mango','cherry','pineapple','banana','kiwi'}

del my_set
print(my_set)

NameError: name 'my_set' is not defined

# Join Two Sets in Python

1. There are different ways to join two sets:
    1. union():
        1. Union method will return a new containing all item from both set
    2. update():
        2. Update method will insert all elements from one set to another set

### 1. UNION [union()]

In [14]:
my_set1 = {"apple","mango",'cherry','papya','kiwi','banana'}
my_set2 = {10,20,30,40,50,60}

my_set3 = my_set1.union(my_set2)
print(my_set3)

{'papya', 'cherry', 40, 10, 'mango', 60, 50, 'kiwi', 20, 'banana', 'apple', 30}

In [19]:
my_set1 = {"apple","mango",'cherry','papya','kiwi','banana','apple','mango'}
my_set2 = {10,20,30,40,50,60,10,20,50}

my_set3 = my_set1.union(my_set2)
print(my_set3)

{'papya', 'cherry', 40, 10, 'mango', 60, 50, 'kiwi', 20, 'banana', 'apple', 30}

### 2. UPDATE [update()]

In [16]:
my_set1 = {"apple","mango",'cherry','papya','kiwi','banana'}
my_set2 = {10,20,30,40,50,60}

my_set3 = my_set1.update(my_set2)
print(my_set3)

None

In [17]:
my_set1 = {"apple","mango",'cherry','papya','kiwi','banana'}
my_set2 = {10,20,30,40,50,60}


my_set1.update(my_set2)
print(my_set1)

{'papya', 'cherry', 40, 10, 'mango', 60, 50, 'kiwi', 20, 'banana', 'apple', 30}

In [18]:
my_set1 = {"apple","mango",'cherry','papya','kiwi','banana'}
my_set2 = {10,20,30,40,50,60}


my_set2.update(my_set1)
print(my_set2)

{'papya', 'cherry', 40, 10, 'mango', 'apple', 50, 20, 'kiwi', 'banana', 60, 30}

In [20]:
my_set1 = {"apple","mango",'cherry','papya','kiwi','banana','banana'}
my_set2 = {10,20,30,40,50,60,10,20}


my_set2.update(my_set1)
print(my_set2)

{'papya', 'cherry', 40, 10, 'mango', 'apple', 50, 20, 'kiwi', 'banana', 60, 30}

**Note: union() and update() method will exclude the duplicate elements**

### Keep only Duplicate Elements

#### 1. Intersection Update -intersection_update()

In [22]:
my_set1 = {"apple","mango",'cherry','papaya','kiwi','banana'}
my_set2 = {'apple','banana','papaya','watermelon','orange'}

my_set1.intersection_update(my_set2)
print(my_set1)

{'papaya', 'apple', 'banana'}

In [23]:
my_set1 = {"apple","mango",'cherry','papaya','kiwi','banana'}
my_set2 = {'apple','banana','papaya','watermelon','orange'}

my_set3 = my_set1.intersection_update(my_set2)
print(my_set3)

None

#### 2.Intesection method - intersection

In [25]:
my_set1 = {"apple","mango",'cherry','papaya','kiwi','banana'}
my_set2 = {'apple','banana','papaya','watermelon','orange'}

my_set3 = my_set1.intersection(my_set2)
print(my_set3)

{'papaya', 'apple', 'banana'}

# Keep All, But not the Duplicates:
    1. symmetric_difference
    2. symmetric_difference_update

### 1. symmetric_difference

In [26]:
my_set1 = {"apple","mango",'cherry','papaya','kiwi','banana'}
my_set2 = {'apple','banana','papaya','watermelon','orange'}

my_set3 = my_set1.symmetric_difference(my_set2)
print(my_set3)

{'cherry', 'kiwi', 'mango', 'orange', 'watermelon'}

### 1. symmetric_difference_update

In [27]:
my_set1 = {"apple","mango",'cherry','papaya','kiwi','banana'}
my_set2 = {'apple','banana','papaya','watermelon','orange'}

my_set1.symmetric_difference_update(my_set2)
print(my_set1)

{'cherry', 'mango', 'kiwi', 'orange', 'watermelon'}

# 1. isdisjoin() Method:
    1. Return True if no elements in both set are duplicate
    2. Return False if elements are duplicate in both set

In [28]:
my_set1 = {"apple","mango",'cherry','papaya','kiwi','banana'}
my_set2 = {'apple','banana','papaya','watermelon','orange'}

my_set3 = my_set1.isdisjoint(my_set2)
print(my_set3)

False

In [29]:
my_set1 = {"apple","mango",'cherry','kiwi','banana'}
my_set2 = {'papaya','watermelon','orange'}

my_set3 = my_set1.isdisjoint(my_set2)
print(my_set3)

True

# 2. issubset() Method:
    1. Return True if all the elements in set 1 are present in set 2
    2. Return False if all elements are not present in both set

In [30]:
my_set1 = {'apple','banana','cherry'}
my_set2 = {'orange','kiwi','apple','watermelon','banana','cherry','papaya'}

my_set3 = my_set1.issubset(my_set2)
print(my_set3)

True

In [31]:
my_set1 = {'apple','banana','cherry'}
my_set2 = {'orange','kiwi','apple','watermelon','banana','papaya'}

my_set3 = my_set1.issubset(my_set2)
print(my_set3)

False

In [34]:
my_set1 = {'orange','kiwi','apple','watermelon','cherry','banana','papaya'}
my_set2 = {'apple','banana','cherry'}

my_set3 = my_set1.issubset(my_set2)
print(my_set3)

False

# 3. issuperset() Method

In [32]:
my_set1 = {'orange','kiwi','apple','watermelon','banana','papaya'}
my_set2 = {'apple','banana','cherry'}

my_set3 = my_set1.issuperset(my_set2)
print(my_set3)

False

In [33]:
my_set1 = {'orange','kiwi','apple','watermelon','cherry','banana','papaya'}
my_set2 = {'apple','banana','cherry'}

my_set3 = my_set1.issuperset(my_set2)
print(my_set3)

True

In [36]:
my_set1 = {'apple','banana','cherry'}
my_set2 = {'orange','kiwi','apple','watermelon','cherry','banana','papaya'}

my_set3 = my_set1.issuperset(my_set2)
print(my_set3)

False

# Questions

In [40]:
my_set1 = {'orange','kiwi','apple','watermelon','cherry','banana','papaya'}

my_set1.update('pineapple')
print(my_set1)

{'cherry', 'a', 'i', 'e', 'papaya', 'p', 'l', 'kiwi', 'banana', 'n', 'orange', 'apple', 'watermelon'}