# Manipulation of String

In [3]:
x = "welcome to Data Science"
print(x)

welcome to Data Science

In [4]:
print(x.upper())

WELCOME TO DATA SCIENCE

### Lower case

In [5]:
x = " WELCOME TO DATA SCIENCE "

In [6]:
print(x.lower())

welcome to data science

In [9]:
x = """ WELCOME TO DATA SCIENCE BATCH,
MY LOCATION IS PUNE,
MY POST IS DATA SCIENTIST """

In [10]:
print(x.lower())

 welcome to data science batch,
my location is pune,
my post is data scientist

### Remove Whitespace

In [11]:
x = """   WELCOME TO DATA SCIENCE BATCH,
MY LOCATION IS PUNE,
MY POST IS DATA SCIENTIST    """

In [12]:
print(x)

   WELCOME TO DATA SCIENCE BATCH,
MY LOCATION IS PUNE,
MY POST IS DATA SCIENTIST

In [13]:
print(x.strip())

WELCOME TO DATA SCIENCE BATCH,
MY LOCATION IS PUNE,
MY POST IS DATA SCIENTIST

### Replace String

In [14]:
x = "WELCOME TO DATA SCIENCE"

In [15]:
print(x)

 WELCOME TO DATA SCIENCE

In [17]:
print(x.replace("TO", "TO PYTHON"))

 WELCOME TO PYTHON DATA SCIENCE

In [19]:
x= "Velcome to Data Science"

In [20]:
print(x.replace("V", "W"))

Welcome to Data Science

In [21]:
y = x.replace("V", "W")
print(y)

Welcome to Data Science

### Split String

In [29]:
x = "Welcome to Data Science"

In [30]:
print(x)

Welcome to Data Science

In [31]:
y = x.split(" ")
print(y)

['Welcome', 'to', 'Data', 'Science']

### Concatenation of String

In [37]:
x = "Python is"
y = "Awesome"

z = x + y
print(z)

Python isAwesome

In [38]:
# x = 10
# y = 20
# z = x + y
# print(z)

In [40]:
x = "Python is"
y = "Awesome"

z = x + " " + y
print(z)

Python is Awesome

# Format of String

In [41]:
age = 25
my_text = "My name is Shyam, I am" + age
print(my_text)

TypeError: can only concatenate str (not "int") to str

In [42]:
age = 25
my_text = "My name is Shyam, I am {} years old" 
print(my_text.format(age))

My name is Shyam, I am 25 years old

In [43]:
quantity = 3
item_no = 4
price = 100.00
my_order = "I want {} qantity of item no {} for {} Rupees"
print(my_order.format(quantity,item_no,price))

I want 3 qantity of item no 4 for 100.0 Rupees

In [46]:
x = "WELCOME TO DATA SCIENCE"

y = x.center(150)
print(y)

                                                               WELCOME TO DATA SCIENCE