# Dictionary - Copy

In [1]:
my_dict = {'name':'Shyam',
          'post':'Data Engineer',
          'salary':150000,
          'location':'Pune',
          'branch':'Nagpur'}

In [3]:
new_dict = my_dict.copy()
print(new_dict)
new_dict

{'name': 'Shyam', 'post': 'Data Engineer', 'salary': 150000, 'location': 'Pune', 'branch': 'Nagpur'}

{'name': 'Shyam',
 'post': 'Data Engineer',
 'salary': 150000,
 'location': 'Pune',
 'branch': 'Nagpur'}

In [4]:
my_dict = {'name':'Shyam',
          'post':'Data Engineer',
          'salary':150000,
          'location':'Pune',
          'branch':'Nagpur'}

In [5]:
new_dict = dict(my_dict)
print(new_dict)

{'name': 'Shyam', 'post': 'Data Engineer', 'salary': 150000, 'location': 'Pune', 'branch': 'Nagpur'}

In [6]:
new_dict

{'name': 'Shyam',
 'post': 'Data Engineer',
 'salary': 150000,
 'location': 'Pune',
 'branch': 'Nagpur'}

# Nested Dictionary

In [7]:
my_company = {
    'employee1':{
          'name':'Shyam',
          'post':'Data Engineer',
          'salary':150000,
          'location':'Pune',
          'branch':'Nagpur'
    },
    'employee2':{
          'name':'Sachin',
          'post':'Data Scientist',
          'salary':50000,
          'location':'Pune',
          'branch':'Mumbai'
    },
    'employee3':{
          'name':'Sakshi',
          'post':'Pyhon Developer',
          'salary':65000,
          'location':'Banglore',
          'branch':'Pune'
    }
}

In [8]:
print(my_company)

{'employee1': {'name': 'Shyam', 'post': 'Data Engineer', 'salary': 150000, 'location': 'Pune', 'branch': 'Nagpur'}, 'employee2': {'name': 'Sachin', 'post': 'Data Scientist', 'salary': 50000, 'location': 'Pune', 'branch': 'Mumbai'}, 'employee3': {'name': 'Sakshi', 'post': 'Pyhon Developer', 'salary': 65000, 'location': 'Banglore', 'branch': 'Pune'}}

In [9]:
my_company

{'employee1': {'name': 'Shyam',
  'post': 'Data Engineer',
  'salary': 150000,
  'location': 'Pune',
  'branch': 'Nagpur'},
 'employee2': {'name': 'Sachin',
  'post': 'Data Scientist',
  'salary': 50000,
  'location': 'Pune',
  'branch': 'Mumbai'},
 'employee3': {'name': 'Sakshi',
  'post': 'Pyhon Developer',
  'salary': 65000,
  'location': 'Banglore',
  'branch': 'Pune'}}

In [11]:
student1 ={
    'name':'Garima',
    'class': 'BE',
    'branch': 'Computer',
    'year': 2021
},
student2 ={
    'name':'Sayali',
    'class': 'BSC',
    'branch': 'Computer',
    'year': 2020
},
student3 ={
    'name':'Tejas',
    'class': 'BE',
    'branch': 'Computer',
    'year': 2024
}

In [12]:
my_class = {
    'Stud1':student1,
    'Stud2':student2,
    'Stud3':student3
}

In [13]:
my_class

{'Stud1': ({'name': 'Garima',
   'class': 'BE',
   'branch': 'Computer',
   'year': 2021},),
 'Stud2': ({'name': 'Sayali',
   'class': 'BSC',
   'branch': 'Computer',
   'year': 2020},),
 'Stud3': {'name': 'Tejas', 'class': 'BE', 'branch': 'Computer', 'year': 2024}}

In [21]:
my_class['Stud1']

({'name': 'Garima', 'class': 'BE', 'branch': 'Computer', 'year': 2021},)

In [29]:
my_class['Stud1'](['name'])

TypeError: 'tuple' object is not callable

In [30]:
my_company = {
    'employee1':{
          'name':'Shyam',
          'post':'Data Engineer',
          'salary':150000,
          'location':'Pune',
          'branch':'Nagpur'
    },
    'employee2':{
          'name':'Sachin',
          'post':'Data Scientist',
          'salary':50000,
          'location':'Pune',
          'branch':'Mumbai'
    },
    'employee3':{
          'name':'Sakshi',
          'post':'Pyhon Developer',
          'salary':65000,
          'location':'Banglore',
          'branch':'Pune'
    }
}

In [31]:
my_company['employee1']['post']

'Data Engineer'

In [34]:
print(my_company['employee1']['name'])
print(my_company['employee2']['name'])
print(my_company['employee3']['name'])

Shyam
Sachin
Sakshi

In [36]:
employee3= {
          'name':'Sakshi',
          'post':'Pyhon Developer',
          'salary':65000,
          'location':'Banglore',
          'branch':'Pune'
    }

In [37]:
x = employee3.setdefault('post','Data Scientist')
print(x)

Pyhon Developer

In [40]:
x = employee3.setdefault('salary','100000')
print(x)

65000

In [42]:
my_dict1 = {'Stud1','Stud2','Stud3'}
my_dict2 = 'Shyam'

new_dict = dict.fromkeys(my_dict1,my_dict2)
print(new_dict)

{'Stud3': 'Shyam', 'Stud2': 'Shyam', 'Stud1': 'Shyam'}

In [43]:
my_dict1 = {'Stud1','Stud1','Stud1'}
my_dict2 = 'Shyam'

new_dict = dict.fromkeys(my_dict1,my_dict2)
print(new_dict)

{'Stud1': 'Shyam'}

In [44]:
my_dict1 = {'Stud1','Stud2','Stud3'}
my_dict2 = ['Shyam','Rahul']

new_dict = dict.fromkeys(my_dict1,my_dict2)
print(new_dict)

{'Stud3': ['Shyam', 'Rahul'], 'Stud2': ['Shyam', 'Rahul'], 'Stud1': ['Shyam', 'Rahul']}