# Python Function

1. Function is a block of code which only runs when it is called
2. You can pass data are called as Parameters into a function
3. A function can return data as result
4. Function is defined using [def] keyword
5. 1. Exmple - def Function_Name()
6. To call a function use the function name

**1. Create Function**

In [1]:
def myFunct():
    print("Hello World..!!")

**2. Calling Function**

In [2]:
def myFunct():
    print("Hello World..!!")
    
myFunct()

Hello World..!!

**Arguments as Function**

In [4]:
def myFunct(fname):
    print(fname +" "+ "Ambilkar, Welcome to Data Science class ")
    
myFunct("Shyam")

Shyam Ambilkar, Welcome to Data Science class

In [5]:
def myFunct(fname, lname):
    print(fname, lname +" "+ "Welcome to Data Science class ")
    
myFunct("Shyam","Ambilkar")

Shyam Ambilkar Welcome to Data Science class

In [6]:
def myFunct(fname, lname):
    print(fname, lname +" "+ "Welcome to Data Science class ")
    
myFunct("Shyam")

TypeError: myFunct() missing 1 required positional argument: 'lname'

## Parameter as Arguments:
    1. Number of Arguments 
    2. *Arguments [*args]
    3. Keyword Arguments [**kwargs]

### 1. Number of Arguments

In [7]:
def my_function(fname,lname):
    print(fname + " " + lname)
    
my_function("Pyhton", "DataScience")

Pyhton DataScience

In [8]:
def myFunct(fname, lname):
    print(fname, lname +" "+ "Welcome to Data Science class ")
    
myFunct("Shyam")

TypeError: myFunct() missing 1 required positional argument: 'lname'

### 2. Arbitary Arguments [*args]

In [9]:
def my_function(stud_name):
    print("First Student in class are: ", stud_name)
    
my_function("Shyam")

First Student in class are:  Shyam

In [11]:
def my_function(*stud_name):
    print("First Student in class are: ", stud_name)
    
my_function("Shyam","Pooja","Rohen")

First Student in class are:  ('Shyam', 'Pooja', 'Rohen')

In [13]:
def my_function(*stud_name):
    print("First Student in class are: ", stud_name[0])
    print("First Student in class are: ", stud_name[1])
    print("First Student in class are: ", stud_name[2])
    
my_function("Shyam","Pooja","Rohen")

First Student in class are:  Shyam
First Student in class are:  Pooja
First Student in class are:  Rohen

### 3. Keyword Arguments [key = value]

#### 1. Keyword Arguments

In [14]:
def hello_Function(stud_1, stud_2, stud_3):
    print("First Student in class are:"+ stud_1)

hello_Function("Shyam","Sakshi","Mayur")

First Student in class are:Shyam

In [16]:
def hello_Function(stud_1, stud_2, stud_3):
    print("First Student in class are:"+ stud_1)

hello_Function(stud_1 = "Shyam",stud_2= "Sakshi",stud_3="Mayur")

First Student in class are:Shyam

In [17]:
def hello_Function(stud_1, stud_2, stud_3, stud_1):
    print("First Student in class are:"+ stud_1)

hello_Function(stud_1 = "Shyam",stud_2= "Sakshi",stud_3="Mayur",stud_1 = "Rahul")

SyntaxError: keyword argument repeated (<ipython-input-17-a7f6350393d3>, line 4)

#### Arbitary Keywords Arguments [**kwargs]

In [20]:
def my_function(**stud):
    print("First Student in class are:"+ stud['stud_1'])
    print("Second Student in class are:"+ stud['stud_4'])
    
my_function(stud_1 = "Shyam",stud_2= "Sakshi",stud_3="Mayur",stud_4 = "Rahul")

First Student in class are:Shyam
Second Student in class are:Rahul

# Default Parameters

In [22]:
def my_function(state):
    print("I am From "+ state)
    
my_function("Maharashtra")
my_function()

I am From Maharashtra

TypeError: my_function() missing 1 required positional argument: 'state'

In [24]:
def my_function(state = "India"):
    print("I am From "+ state)
    
my_function("Maharashtra")
my_function()
my_function("Goa")

I am From Maharashtra
I am From India
I am From Goa

## Passsing a List as Arguments

In [27]:
def my_Function(fruit_list):
    for a in fruit_list:
        print("Fruits are: " + a)
       
 # Driver code
my_list = ['apple','mango','cherry','banana','watermelon']  
my_Function(my_list)

Fruits are: apple
Fruits are: mango
Fruits are: cherry
Fruits are: banana
Fruits are: watermelon

# Return Values

In [31]:
def my_function(x):
    return 5 ** x

print(my_function(2))
print(my_function(3))

25
125

In [32]:
def my_function(x):
    return 5 + x

print(my_function(2))
print(my_function(3))

7
8

In [33]:
def my_function(x):
    return 5 / x

print(my_function(2))
print(my_function(3))

2.5
1.6666666666666667

# Pass Statement

In [34]:
def shyam():
    pass

In [36]:
def shyam():
    pass

## Examples

In [37]:
num = int(input("Enter number to calculate Factorial: "))

fact = 1
for i in range(1, num + 1):
    fact = fact * i
    
print(fact)

Enter number to calculate Factorial: 5
120

In [44]:
num = int(input("Enter number to calculate Factorial: "))

def fact(num1):
    if num1 == 1:
        return 1
    else:
        result = num1 * fact(num1 -1)
        return result
fact(num)

Enter number to calculate Factorial: 6

720

In [40]:
def fact(num1):
    if num1 == 1:
        return 1
    else:
        result = num1 * fact(num1 -1)
        return result
fact(5)

120