# 1. Text Type:
    1. string [str]

1. Strings in Python are surrounded by single quotation marks or double quoatation marks
2. Example:
    1. "Hello Python" or 'Hello Python'
3. You can display[output] as string literals with the print() function.

In [1]:
print("Welcome to string")
print('Welcome to string')

Welcome to string
Welcome to string

### Assign string to Variable

In [4]:
x = "Welcome to string"
print(x)

Welcome to string

In [5]:
x = 'Welcome to string'
print(x)

Welcome to string

### Multiple Line String

In [6]:
x = "Welcome to Python data Science placement Batch,
My name is Shyam Ambilkar,
My salary are 85000,
My post is Data Scientist,
Location is Pune"

SyntaxError: EOL while scanning string literal (<ipython-input-6-9f9c548546a7>, line 1)

In [7]:
x = """Welcome to Python data Science placement Batch,
My name is Shyam Ambilkar,
My salary are 85000,
My post is Data Scientist,
Location is Pune """

In [8]:
print(x)

Welcome to Python data Science placement Batch,
My name is Shyam Ambilkar,
My salary are 85000,
My post is Data Scientist,
Location is Pune

In [9]:
y = ''' Welcome to Python data Science placement Batch,
My name is Shyam Ambilkar,
My salary are 85000,
My post is Data Scientist,
Location is Pune'''

In [10]:
print(x)

Welcome to Python data Science placement Batch,
My name is Shyam Ambilkar,
My salary are 85000,
My post is Data Scientist,
Location is Pune

### Strings are Arrays

In [11]:
x = 'Welcome to string'
print(x)

Welcome to string

In [14]:
print(x[7])

In [15]:
x = 'Welcome to string'
print(x)

Welcome to string

In [17]:
print(x[1])

e

### Looping Throgh a String

In [18]:
x = "apple"

for i in x:
    print(i)

a
p
p
l
e

### String of Length:
    1. using [len()] function return the string

In [19]:
x = 'Welcome to Python'

In [20]:
print(len(x))

17

In [21]:
x = "Welcome"
print(len(x))

7

### Check String

In [23]:
x = "Welcome to Python Data Science class"
print('Data' in x)

True

# Slicing String:
    1. slicing return a range of character 
    2. Synatx:
        1. variable name [start:End]

1. There are two types of slicing use in Python:
    1. Positive Indexing[slcing]
    2. Negative Indexing[slicing]

### 1. Positive Indexing

In [24]:
x = "Welcome to Python Data Science class"

In [26]:
print(x[18:31])

Data Science

In [27]:
print(x[1])

e

In [28]:
print(x[:31])

Welcome to Python Data Science

In [30]:
print(x[18:])

Data Science class

In [32]:
x = "Welcome to Python Data Science class"

In [33]:
print(x)

Welcome to Python Data Science class

In [35]:
print(x[10:31])

 Python Data Science

### Negative Indexing:
    1. negative indexing start with the end of string

In [49]:
x = "Welcome to Python Data Science class "

In [50]:
print(x)

Welcome to Python Data Science class

In [51]:
print(x[-6:-1])

class