### 4. [^] -Starts with

In [1]:
import re

In [2]:
my_text = "My name is Shyam and my email id is shyam@gmail.com and phone no are 9923090436"

In [5]:
x = re.findall("^My", my_text)

if x:
    print("Yes, the string start with, 'MY' is available")
else:
    print("No Match")

Yes, the string start with, 'MY' is available

In [4]:
x = re.findall("^MY", my_text)

if x:
    print("Yes, the string start with, 'MY' is available")
else:
    print("No Match")

No Match

## 5. $.- Ends with

In [6]:
my_text = "My name is Shyam and my email id is shyam@gmail.com and phone no are 9923090436"

In [7]:
x = re.findall("9923090436$", my_text)

if x:
    print("Yes, the string start with, '9923090436' is available")
else:
    print("No Match")

Yes, the string start with, '9923090436' is available

In [8]:
x = re.findall("6$", my_text)

if x:
    print("Yes, the string start with, '9923090436' is available")
else:
    print("No Match")

Yes, the string start with, '9923090436' is available

### 6. * :
    1. Zero or More occurances
    2. Exmaple

In [9]:
my_text = "My name is Shyam and my email id is shyam@gmail.com and phone no are 9923090436"

In [12]:
x = re.findall("n.*my", my_text)
print(x)

['name is Shyam and my']

In [14]:
my_text = "Hello Data Science"

x = re.findall("He.*a", my_text)
print(x)

['Hello Data']

## 7. + :
    1. one or More occurances
    2. Example

In [20]:
my_text = "Hello Data Science"

x = re.findall("He.+o", my_text)
print(x)

['Hello']

### 8. ? :
    1. zero or one occurances
    2. Example

In [24]:
my_text = "Hello Data Science"

x = re.findall("He.?o", my_text)
print(x)

[]

In [25]:
# one occurances
my_text = "Helo Data Science"

x = re.findall("He.?o", my_text)
print(x)

['Helo']

In [26]:
# zero occurances
my_text = "Heo Data Science"

x = re.findall("He.?o", my_text)
print(x)

['Heo']

### 9. {} :
    1. Exact match in the string
    2. Example

In [27]:
# zero occurances
my_text = "Hello Data Science"

x = re.findall("He.{7}a", my_text)
print(x)

['Hello Data']

In [28]:
# zero occurances
my_text = "Hello Data Science"

x = re.findall("He.{5}a", my_text)
print(x)

['Hello Da']

In [30]:
# zero occurances
my_text = "Hello Data Science"

x = re.findall("He.{4}", my_text)
print(x)

['Hello ']

In [38]:
my_text = "My name is Shyam and my email id is shyam@gmail.com and phone no are 9923090436"

# zero occurances
# my_text = "Hello Data Science"

x = re.findall("\d{10}", my_text)
print(x)

['9923090436']

### 10. | :
    1. Either or
    2. Example

In [40]:
my_text = "The rain in spain falls mainly in the plain..!"

x = re.findall("falls|stays", my_text)
print(x)

if x:
    print("Yes, atleast onc match available in the string")
else:
    print("No match")

['falls']
Yes, atleast onc match available in the string

# Special Sequences

### 1. \A :
    1. Return match if specified characters are the beginning of string
    2. Example

In [41]:
my_text = "My name is Shyam and my email id is shyam@gmail.com and phone no are 9923090436"

x = re.findall("\AMy", my_text)
print(x)

['My']

In [44]:
my_text = "My name is Shyam and my email id is shyam@gmail.com and phone no are 9923090436"

x = re.findall("\Aname", my_text)
print(x)

[]

### 2. \b :
    1. Return a match where the speidified characters ata the beginning of string or at the end of word
    2. "r" the beginnig is make sure that the string is being as "raw string"
    3. Example

In [53]:
my_text = "My name is Shyam and My email id is shyam@gmail.com and phone no are 9923090436"

x = re.findall(r"\bMy", my_text)
print(x)

['My', 'My']

In [52]:
my_text = "my name is Shyam and my email id is shyam@gmail.com and phone no are 9923090436"

x = re.findall(r"my\b", my_text)
print(x)

['my', 'my']

### 3. \B:

In [58]:
my_text = "a My name is Shyam and My email id is shyam@gmail.com and phone no are 9923090436"

x = re.findall(r"\Ba", my_text)
print(x)

['a', 'a', 'a', 'a', 'a']

In [59]:
my_text = "are My name is Shyam and My email id is shyam@gmail.com and phone no are 9923090436"

x = re.findall(r"\Bare", my_text)
print(x)

[]

In [64]:
my_text = "are My name is Shyam and My email id is shyam@gmail.com  amd and phone no are 9923090436"

x = re.findall(r"am\B", my_text)
print(x)

['am', 'am']

In [78]:
my_text = "My name is Shyam Aand My email id is 9923090436 shyam@gmail.com Aand phone no are 9923090436"

x = re.findall(r"\By", my_text)
print(x)

['y', 'y', 'y', 'y']

In [73]:
# help(re.findall(r"a\B", my_text))

### 4. \d

In [80]:
my_text = "are My name is Shyam and My email id is shyam@gmail.com  amd and phone no are 9923090436"

x = re.findall("\d{10}", my_text)
print(x)

['9923090436']

In [83]:
my_text = "My name is Shyam Aand My 90212 61221 email id is 9923090436 shyam@gmail.com Aand phone no are 9923090436"

x = re.findall("\d{10}", my_text)
print(x)

['9923090436', '9923090436']

### 5. \D

In [92]:
my_text = "are My name is Shyam and My email id is shyam@gmail.com  amd and phone no are 9923090436"

x = re.findall("\D{5}", my_text)
print(x)

['are M', 'y nam', 'e is ', 'Shyam', ' and ', 'My em', 'ail i', 'd is ', 'shyam', '@gmai', 'l.com', '  amd', ' and ', 'phone', ' no a']

### 6. \s

In [93]:
my_text = "are My name is Shyam and My email id is shyam@gmail.com  amd and phone no are 9923090436"

x = re.findall("\s", my_text)
print(x)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

### 7. \S

In [94]:
my_text = "are My name is Shyam and My email id is shyam@gmail.com  amd and phone no are 9923090436"

x = re.findall("\S", my_text)
print(x)

['a', 'r', 'e', 'M', 'y', 'n', 'a', 'm', 'e', 'i', 's', 'S', 'h', 'y', 'a', 'm', 'a', 'n', 'd', 'M', 'y', 'e', 'm', 'a', 'i', 'l', 'i', 'd', 'i', 's', 's', 'h', 'y', 'a', 'm', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm', 'a', 'm', 'd', 'a', 'n', 'd', 'p', 'h', 'o', 'n', 'e', 'n', 'o', 'a', 'r', 'e', '9', '9', '2', '3', '0', '9', '0', '4', '3', '6']

### 8. \w [A-Z a-z, 0-9, _ ]

In [97]:
my_text = "are My name is Shyam and _My-email id is shyam@gmail.com  amd and phone no are 9923090436"

x = re.findall("\w", my_text)
print(x)

['a', 'r', 'e', 'M', 'y', 'n', 'a', 'm', 'e', 'i', 's', 'S', 'h', 'y', 'a', 'm', 'a', 'n', 'd', '_', 'M', 'y', 'e', 'm', 'a', 'i', 'l', 'i', 'd', 'i', 's', 's', 'h', 'y', 'a', 'm', 'g', 'm', 'a', 'i', 'l', 'c', 'o', 'm', 'a', 'm', 'd', 'a', 'n', 'd', 'p', 'h', 'o', 'n', 'e', 'n', 'o', 'a', 'r', 'e', '9', '9', '2', '3', '0', '9', '0', '4', '3', '6']

In [98]:
my_text = "are My name is Shyam and _My-email id is shyam@gmail.com  amd and phone no are 9923090436"

x = re.findall("\w", my_text)
print(x)

['a', 'r', 'e', 'M', 'y', 'n', 'a', 'm', 'e', 'i', 's', 'S', 'h', 'y', 'a', 'm', 'a', 'n', 'd', '_', 'M', 'y', 'e', 'm', 'a', 'i', 'l', 'i', 'd', 'i', 's', 's', 'h', 'y', 'a', 'm', 'g', 'm', 'a', 'i', 'l', 'c', 'o', 'm', 'a', 'm', 'd', 'a', 'n', 'd', 'p', 'h', 'o', 'n', 'e', 'n', 'o', 'a', 'r', 'e', '9', '9', '2', '3', '0', '9', '0', '4', '3', '6']

### 9. \W

In [100]:
my_text = "are My name is Shyam and _My-email id is shyam@gmail.com  amd and phone ## no are 9923090436"

x = re.findall("\W", my_text)
print(x)

[' ', ' ', ' ', ' ', ' ', ' ', '-', ' ', ' ', ' ', '@', '.', ' ', ' ', ' ', ' ', ' ', '#', '#', ' ', ' ', ' ']

### 10. \Z

In [108]:
my_text = "are My name is Shyam and _My-email id is shyam@gmail.com"

x = re.findall("com\Z", my_text)
print(x)

['com']

In [112]:
my_text = "are My name is Shyam and _My-email id is shyam@gmail.com  amd and phone ## no are 9923090436"

x = re.findall("9923090436\Z", my_text)
print(x)

['9923090436']