In [1]:
my_list = ['apple','mango','chrrry','banana','watermelon', 'blackcurrent']

In [2]:
my_list.sort()
print(my_list)

['apple', 'banana', 'blackcurrent', 'chrrry', 'mango', 'watermelon']

In [3]:
my_list = ['apple','mango','chrrry','banana','watermelon', 'blackcurrent', 'ORANGE','APPLE','Banana']

In [4]:
my_list.sort()
print(my_list)

['APPLE', 'Banana', 'ORANGE', 'apple', 'banana', 'blackcurrent', 'chrrry', 'mango', 'watermelon']

## Reverse Order (Descending Order)

In [5]:
my_list = ['apple','mango','chrrry','banana','watermelon', 'blackcurrent', 'ORANGE','APPLE','Banana']

my_list.sort(reverse=True)
print(my_list)

['watermelon', 'mango', 'chrrry', 'blackcurrent', 'banana', 'apple', 'ORANGE', 'Banana', 'APPLE']

In [6]:
my_list = ['apple','mango','chrrry','banana','watermelon', 'blackcurrent', 'ORANGE','APPLE','Banana']

my_list.sort(key= str.lower)
print(my_list)

['apple', 'APPLE', 'banana', 'Banana', 'blackcurrent', 'chrrry', 'mango', 'ORANGE', 'watermelon']

In [7]:
my_list = ['apple','mango','chrrry','banana','watermelon', 'blackcurrent', 'ORANGE','APPLE','Banana']

my_list.sort(key= str.upper)
print(my_list)

['apple', 'APPLE', 'banana', 'Banana', 'blackcurrent', 'chrrry', 'mango', 'ORANGE', 'watermelon']

In [8]:
my_list = ['apple','mango','chrrry','banana','watermelon', 'blackcurrent', 'ORANGE','APPLE','Banana']

my_list.sort(key= str.capitalize)
print(my_list)

['apple', 'APPLE', 'banana', 'Banana', 'blackcurrent', 'chrrry', 'mango', 'ORANGE', 'watermelon']

# Reverse Method

In [9]:
my_list = ['apple','mango','chrrry','banana','watermelon', 'blackcurrent']

my_list.reverse()
print(my_list)

['blackcurrent', 'watermelon', 'banana', 'chrrry', 'mango', 'apple']

# Copy Method:
    1. List [list]
    2. Copy

In [10]:
my_list = ['apple','mango','chrrry','banana','watermelon', 'blackcurrent']

new_list = my_list.copy()

print(new_list)

['apple', 'mango', 'chrrry', 'banana', 'watermelon', 'blackcurrent']

In [14]:
my_list1 = ['apple','mango','chrrry','banana','watermelon', 'blackcurrent']

# print(new_list1)
new_list1 = list(my_list1)
print(new_list1)

['apple', 'mango', 'chrrry', 'banana', 'watermelon', 'blackcurrent']

# Join List:
    1. Concatenate two or more list in python
    2. use [+] operator to join two or more list in python

In [17]:
my_list1 = ['apple','mango','chrrry','orange']
my_list2 = ['banana','watermelon', 'blackcurrent']

new_list = my_list2 + my_list1
print(new_list)

['banana', 'watermelon', 'blackcurrent', 'apple', 'mango', 'chrrry', 'orange']

In [18]:
my_list1 = ['apple','mango','chrrry','orange']
my_list2 = ['banana','watermelon', 'blackcurrent']

for i in my_list2:
    my_list1.append(i)
    
print(my_list1)

['apple', 'mango', 'chrrry', 'orange', 'banana', 'watermelon', 'blackcurrent']

In [20]:
my_list1 = ['apple','mango','chrrry','orange']
my_list2 = ['banana','watermelon', 'blackcurrent']

my_list1.extend(my_list2)
print(my_list1)

['apple', 'mango', 'chrrry', 'orange', 'banana', 'watermelon', 'blackcurrent']

In [22]:
my_list1 = ['apple','mango','chrrry','orange']
my_list2 = ['banana','watermelon', 'blackcurrent']

new_list = my_list1.extend(my_list2)
print(new_list)

None

In [23]:
my_list = ['apple','mango','chrrry','orange','banana','watermelon', 'blackcurrent']

x = my_list.index("banana")
print(x)

4

In [24]:
my_list = [10,20,30,40,50,60,70]

x =  my_list.index(40)
print(x)

3

# Count Method

In [26]:
my_list = [10,20,30,40,50,60,70,80,90,50,50,50,50,10,20,30,40,50,60,70,80,90,50,50,50,50]

x = my_list.count(50)
print(x)

10

In [31]:
my_list = ['apple','mango','chrrry','orange','banana','watermelon', 'blackcurrent','APPLE','apple']

x = my_list.count('apple')
print(x)

2

**1. Python Program to find Largest element in List**

In [33]:
my_list = [20,40,30,10.60,50,70,90,80]

my_list.sort(reverse=True)
print(my_list)

print("Largest element in List: ",my_list[0])

[90, 80, 70, 50, 40, 30, 20, 10.6]
Largest element in List:  90

In [40]:
my_list = [20,40,30,10.60,50,70,90,80]

my_list.sort()
print(my_list)

print("Largest element in List: ",my_list[-1])

[10.6, 20, 30, 40, 50, 70, 80, 90]
Largest element in List:  90

In [34]:
my_list = [20,40,30,10.60,50,70,90,80]

print("Largest element in List: ", max(my_list))

Largest element in List:  90

In [39]:
my_list = []

num = int(input("Enter number of elements in list: "))

for i in range(1, num + 1):
    my_ele = int(input("Enter elements in list: "))
    my_list.append(my_ele)
    
print("Largest elements in list: ", max(my_list))

Enter number of elements in list: 5
Enter elements in list: 12
Enter elements in list: 70
Enter elements in list: 92
Enter elements in list: 42
Enter elements in list: 1
Largest elements in list:  92

In [41]:
my_list = ['apple','APPLE','BANANA']

In [43]:
my_list.sort(key=str.upper)
print(my_list)

['APPLE', 'apple', 'BANANA']

In [46]:
my_list = ['apple','apple','BANANA', 'banana']

my_list.sort(key=str.lower)
print(my_list)

['apple', 'apple', 'BANANA', 'banana']

In [53]:
my_list = ['apple','Apple','BANANA', 'banana','APPLE']

my_list.sort(key=str.upper)
print(my_list)

['apple', 'Apple', 'APPLE', 'BANANA', 'banana']