# Set

1. Sets are used to store multiple items in a single variable
2. Sets are used to store collection of data
3. Sets is a collection which both unordered and ordered
4. Sets are mutable type of Data type
5. In sets duplicates are not allowed
6. Set is unordered collection of data that is itarable
7. Major advantage of set is oppposed to list
8. Set are used highly optimized methods for checking whether a specific elements is a sets
9. Set are creating using built-in function called as **set()**
10. Set cannot have mutable elementsn like list, set or dictionary as its elements
11. Set are written with curly Brackets
12. Exmaple:
    1. my_set = {'apple','mango','cherry'}

## Terminologies

1. Create Set:
    1. my_set = {'apple','mango','cherry'}
2. Set Items:
    1. Set  are unordered,
    2. set are unchangeble(immutable)
    3. Do not allowed duplicate values
3. Unordered:
    1. Unordered means that the do not have defined orderd
    2. cannot be referred to by indexing
4. Unchangeble:
    1. Set cannot change the item after the set has been created

**Note: Sets item are immutable(unchangeble), but you can remove or add new elements**

**Note: Sets are unordered, so you can not be sure in which order item will appear**

In [1]:
my_set = {'apple','mango','cherry','watermelon','pineapple'}

In [2]:
print(my_set)

{'apple', 'watermelon', 'mango', 'pineapple', 'cherry'}

In [3]:
print(type(my_set))

<class 'set'>

In [4]:
my_set = {}
print(type(my_set))

<class 'dict'>

In [7]:
my_set = set({'apple','mango','cherry','watermelon','pineapple'})
print(my_set)

{'apple', 'pineapple', 'cherry', 'mango', 'watermelon'}

In [8]:
print(type(my_set))

<class 'set'>

In [9]:
my_set = set({})
print(my_set)
print(type(my_set))

set()
<class 'set'>

### Duplicates are not allowed

In [10]:
my_set = {'apple','mango','cherry','watermelon','pineapple', 'apple', 'mango'}
print(my_set)

{'apple', 'watermelon', 'mango', 'pineapple', 'cherry'}

### Get a Length of Set

In [11]:
my_set = {'apple','mango','cherry','watermelon','pineapple', 'apple', 'mango'}
print(len(my_set))

5

### Set Items - Data Type

In [12]:
my_set1 = {'apple','mango','cherry','pineapple','banana'}
my_set2 = {10,20,30,40,50,60}
my_set3 = {10.10,20.20,30.30}
my_set4 = {True, False, True, True}

In [13]:
print(my_set1)
print(my_set2)
print(my_set3)
print(my_set4)

{'apple', 'mango', 'pineapple', 'banana', 'cherry'}
{40, 10, 50, 20, 60, 30}
{10.1, 20.2, 30.3}
{False, True}

In [14]:
print(type(my_set1))
print(type(my_set2))
print(type(my_set3))
print(type(my_set4))

<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

In [15]:
my_set = {'apple','mango','cherry',0.10,20.20,30.30,'pineapple',True, False,10,20,30,40}

In [16]:
print(my_set)

{0.1, True, 'apple', False, 40, 10, 'mango', 'pineapple', 20.2, 20, 30, 'cherry', 30.3}

In [17]:
print(type(my_set))

<class 'set'>

# Access Elements

In [18]:
my_set1 = {'apple','mango','cherry','pineapple','banana'}

my_set1[1]

TypeError: 'set' object is not subscriptable

In [19]:
my_set1 = {'apple','mango','cherry','pineapple','banana'}

my_set1['apple']

TypeError: 'set' object is not subscriptable

In [20]:
my_set1 = {'apple','mango','cherry','pineapple','banana'}

for i in my_set1:
    print(i)

apple
mango
pineapple
banana
cherry

In [21]:
my_set1 = {'apple','mango','cherry','pineapple','banana'}

print('apple' in my_set1)

True

**Note: once set is created you cannot change set item, but you can addd new items**

### 1. Add Elements(add()method)

In [22]:
my_set1 = {'apple','mango','cherry','pineapple','banana'}

my_set1.add('orange')
print(my_set1)

{'apple', 'mango', 'pineapple', 'banana', 'orange', 'cherry'}

In [25]:

my_set1.add('orange')
print(my_set1)

{'apple', 'papaya', 'mango', 'pineapple', 'banana', 'orange', 'cherry'}

### 2. Add sets (update())

In [26]:
my_set1 = {'apple','mango','cherry','pineapple','banana','papaya'}
my_set2 = {'apple','mango','pineapple','kiwi','watermelon'}

my_set1.update(my_set2)
print(my_set1)

{'apple', 'papaya', 'kiwi', 'mango', 'pineapple', 'watermelon', 'banana', 'cherry'}

In [27]:
print(len(my_set1))

8

### 3. Add Iterable (update() method)

In [28]:
my_set1 = {'apple','mango','cherry','pineapple','banana','papaya'}

my_list = ['apple','mango','pineapple','kiwi','watermelon']

my_set1.update(my_list)
print(my_set1)

{'apple', 'papaya', 'kiwi', 'mango', 'pineapple', 'watermelon', 'banana', 'cherry'}