# Variables:
    1. Python has no command for declaring variables
    2. Variables contain something value

In [1]:
a = 20 #integer
b = 20 #integer

c = a + b
print(c)

40

In [3]:
a = 'Rohan' #String
b = "Mayur" #String

c = a + b
print(c)

Rohan Mayur

In [4]:
my_var = 120.15 #float
myvar = 20.30 # float

result = my_var + myvar
result

140.45000000000002

In [5]:
x = int(20)
y = float(15.30)
z = str("Python Programming")
a = str('Data Science')

In [6]:
print(x)
print(y)
print(z)
print(a)

20
15.3
Python Programming
Data Science

In [7]:
a = "Dipak"
b = 56
c = 63.20
d = 4j

In [8]:
print(a)
print(b)
print(c)
print(d)

Dipak
56
63.2
4j

In [9]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

# Case Sensitive

In [10]:
myvar = 'Shyam'
myVar = 'Rahul'
MYVAR = 'MaymyVarur'
_myvar = 'Vaibhav'

In [12]:
print(myvar)
print(myVar)
print(MYVAR)
print(_myvar)

Shyam
Rahul
Mayur
Vaibhav

# Varibale Names

In [13]:
rahul = 'Joshi'

1. A variable can have short name (like x and y) or more descriptive names (age, name, total, result):
    1. Variable names must be start with letter or underscore character
    2. Variable name cannot start with a number
    3. A Variable contain alpha-numeric characters and underscore [A-Z,a-z,_,0-9]
    4. Variables names are case sensitive (Ex. Age, age, AGE, _age)

In [14]:
_age = 45
age = 40
age1 = 20
_age1 = 20

In [15]:
print(_age)

45

In [16]:
print(age)

40

In [17]:
print(age1)

20

In [18]:
_age1

20

In [19]:
myvar = 'Rahul'
my_var = 'Rohan'
_my_var = 'Shyam'
myVar = 'Mayur'
MYVAR = 'Pooja'
myvar2 = 'Sakshi'

In [20]:
2myvar = 'shyam'

SyntaxError: invalid syntax (<ipython-input-20-86cfb4cb82d8>, line 1)

In [21]:
my-var = 'Rahul'

SyntaxError: cannot assign to operator (<ipython-input-21-e4daf3336463>, line 1)

In [22]:
my var = 'Rahul'

SyntaxError: invalid syntax (<ipython-input-22-cb9ba593c1f6>, line 1)

# Multiwords Variables Names:
    1. Camel Case
    2. Pascal Case
    3. Snake Case

### 1. Camel Case:
    1. Each words, except first start with capital letter

In [23]:
myVariablesNames = "Welcome to Python Programming"

In [24]:
myVariablesNames

'Welcome to Python Programming'

### 2. Pascal Case:
    1. Each words start capital letters

In [25]:
MyVariableName = "Welcome to Python Programming"
print(MyVariableName)

Welcome to Python Programming

### 3. Snake Case:
    1. Each words is separated by an underscore characters

In [27]:
my_variable_name = "Welcome to Python Programming"
print(my_variable_name)

Welcome to Python Programming

In [30]:
my_number1 = 100
my_number2 = 200

result = my_number1 + my_number2
print(result)

300

In [34]:
name = 'Garima'

# Many Values to Multiple Variables

In [38]:
x, y, z, a = 'orange','mango','apple','banana'

print(x)
print(y)
print(z)
print(a)

orange
mango
apple
banana