# Class and Objects

In [2]:
class Person:
    def __init__(self,name, post, email, mobile):
        self.name = name
        self.post = post
        self.email = email
        self.mobile = mobile
        
p1 = Person("Shyam","Data Scientist",'shyam@gmail.com',123456789)
p2 = Person("Radhika","Data Engineer",'radhika@gmail.com',123456789)
p3 = Person("Mayur","Data Analyst",'mayur@gmail.com',123456789)

print(p1.name)
print(p1.post)
print(p1.email)
print(p1.mobile)

print(p2.name)
print(p2.post)
print(p2.email)
print(p2.mobile)

Shyam
Data Scientist
shyam@gmail.com
123456789
Radhika
Data Engineer
radhika@gmail.com
123456789

In [3]:
class Person:
    def __init__(self,name, post, email, mobile):
        self.name = name
        self.post = post
        self.email = email
        self.mobile = mobile
        
p1 = Person("Shyam","Data Scientist",'shyam@gmail.com',123456789)
p2 = Person("Radhika","Data Engineer",'radhika@gmail.com',123456789)
p3 = Person("Mayur","Data Analyst",'mayur@gmail.com',123456789)

print(p1.name)
print(p2.name)
print(p3.name)

Shyam
Radhika
Mayur

In [5]:
class Person:
    def __init__(self,name, post, email, mobile):
        self.name = name
        self.post = post
        self.email = email
        self.mobile = mobile
        
    def my_function(abc):
        print("Hello My name is"+abc.name)
        
    
p1 = Person("Shyam","Data Scientist",'shyam@gmail.com',123456789)

print(p1.my_function())

Hello My name isShyam
None

In [6]:
class Person:
    def __init__(radhika,name, post, email, mobile):
        radhika.name = name
        radhika.post = post
        radhika.email = email
        radhika.mobile = mobile
        
    def my_function(abc):
        print("Hello My name is "+abc.name)
        
    
p1 = Person("Shyam","Data Scientist",'shyam@gmail.com',123456789)

print(p1.my_function())

Hello My name isShyam
None

### Modify Objects

In [11]:
class Person:
    def __init__(radhika,name, post, email, mobile):
        radhika.name = name
        radhika.post = post
        radhika.email = email
        radhika.mobile = mobile
        
    def my_function(abc):
        print("Hello My name is "+abc.name)
        print("Hello my contact no are: " +abc.mobile)
        
    
p1 = Person("Shyam","Data Scientist",'shyam@gmail.com',"123456789")

p1.mobile = "9923090436"
print(p1.mobile)
print(p1.my_function())

9923090436
Hello My name is Shyam
Hello my contact no are: 9923090436
None

In [13]:
class Person:
    def __init__(radhika,name, post, email, mobile):
        radhika.name = name
        radhika.post = post
        radhika.email = email
        radhika.mobile = mobile
        
    def my_function(abc):
        print("Hello My name is "+abc.name)
        print("Hello my post are: " +abc.post)
        
# creating instance or object of class
p1 = Person("Shyam","Data Scientist",'shyam@gmail.com',"123456789")

# modify objects
p1.post = "Data Engineer"

# calling function using objects
print(p1.my_function())

Hello My name is Shyam
Hello my post are: Data Engineer
None

### Delete Objects

In [14]:
class Person:
    def __init__(radhika,name, post, email, mobile):
        radhika.name = name
        radhika.post = post
        radhika.email = email
        radhika.mobile = mobile
        
    def my_function(abc):
        print("Hello My name is "+abc.name)
        print("Hello my post are: " +abc.post)
        
# creating instance or object of class
p1 = Person("Shyam","Data Scientist",'shyam@gmail.com',"123456789")

# delete objects
del p1

#calling objects
print(p1.my_function())

NameError: name 'p1' is not defined

In [22]:
class Person:
    def __init__(python, name, post):
        python.name = name
        python.post = post
        
    def my_function(data):
        print("Hello My name is "+data.name)
        
p1 = Person("Radhika","Data Engineer")

print(p1.my_function())
print(p1.name)

Hello My name is Radhika
None
Radhika

In [24]:
class Person:
    def __init__(python, name, post):
        python.name = name
        python.post = post
        
    def my_function(data):
        print("Hello My name is "+data.name)
        
    def my_function1(science):
         print("Hello My name is "+science.post)
        
p1 = Person("Radhika","Data Engineer")

print(p1.my_function())
print(p1.my_function1())

Hello My name is Radhika
None
Hello My name is Data Engineer
None

In [26]:
class Person:
    def __init__(python, name, post):
        python.name = name
        python.post = post
        
    def my_function(data):
        print("Hello My name is "+data.name)
        
    def my_function1(science):
         print("Hello My post is "+science.post)
        
p1 = Person("Radhika","Data Engineer")

p1.my_function()
p1.my_function1()

Hello My name is Radhika
Hello My post is Data Engineer

In [31]:
my_num = int(input("Enter a Number: "))

for i in range(1, 11):
    print(my_num, "X", i, "=", my_num * i)

Enter a Number: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [29]:
my_num = 13

for i in range(1, 11):
    print(my_num, "X", i, "=", my_num * i)

13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

In [36]:
class Student:
    def __init__(stud, roll_no, name,clg_name, location):
        stud.roll = roll_no
        stud.name = name
        stud.clg_nm = clg_name
        stud.loc = location
        
    def stud_id(self):
        print("Student ID are: ", self.roll)
        
    def stud_name(self):
        print("Student Name are: ", self.name)
        
    def stud_clg_name(self):
        print("Student Collage Name are: ", self.clg_nm)
        
    def stud_loc(self):
        print("Location are: ", self.loc)
        
        
s1 = Student(1,"Radhika", "JSPM Pune", "Pune")


s1.stud_id()
s1.stud_name()
s1.stud_clg_name()
s1.stud_loc()

Student ID are:  1
Student Name are:  Radhika
Student Collage Name are:  JSPM Pune
Location are:  Pune

In [ ]:
# Plot
# length = 20, width=40 unit_price = 1500

# Area
# Perimeter
# Price